<h1>Welcome to My Rails Application</h1>
<p>This is the content of the about page, accessible at '/about'.</p>
<p>There is nothing important about me, but if people want to know, I AM VERY LAZYYYY</p>
<p>
  <%= link_to 'Back To Home', home_path %>
</p>