<h1>Welcome to My Rails Application</h1>
<p>This is the content of the contact page, accessible at '/contact'.</p>
<p>Which you can contact me at 123-456-7890</p>
<p>
  Or you can also go to
  <%= link_to 'FaceBowl',
    'https://www.facebowl.cn/',
    target: '_blank' %>
</p>
<p>
  <%= link_to 'Back To Home', home_path %>
</p>