<body>
    <header>
        <h1>Welcome to My Portfolio</h1>
    </header>

    <main>
        <section id="home">
            <h2>Home</h2>
            <p>Welcome to my portfolio website. I am a passionate web developer with expertise in messing around and not doing my
                homework.
            </p>
        </section>

        <section id="about">
            <h2>  <%= link_to 'About Me', about_path %></h2>
            <p>Detailed professional biography, education background, skills, and achievements.</p>
        </section>

        <section id="work">
            <h2>  <%= link_to 'About Work', work_path %></h2>
            <p>Portfolio showcasing detailed descriptions and images of previous projects.</p>
        </section>

        <section id="contact">
            <h2>  <%= link_to 'Contact Me', contact_path %></h2>
            <p>Contact details, social media links, or a simple contact form for inquiries.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Some very cool awesome name.</p>
    </footer>
</body>
</html>
