<h1>Welcome to My Rails Application</h1>
<p>This is the content of the work page, accessible at '/work'.</p>
<p>This is the content of the work page, with maybe some images showing I know how to use rail</p>
<%= image_tag 'gangyupic.jpg', class: 'w-100', style: 'max-width: 32rem;' %>
<p>
  <%= link_to 'Back To Home', home_path %>
</p>